@model MVC_CRUD_DiplomadoUASDCodeFirst.Model.Models.Registro

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de registro</h2>

<div>
    <h4>Registro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Departamento @*@Html.DisplayNameFor(model => model.Departamento.Descripcion)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sueldo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.RegistroID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
