@model IEnumerable<MVC_CRUD_DiplomadoUASDCodeFirst.Model.Models.Registro>

@{
    ViewBag.Title = "Registros";
}

<h2>Mantenimiento de Registros</h2>

<p>
    @Html.ActionLink("Nuevo Registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sueldo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sueldo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.RegistroID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.RegistroID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.RegistroID })
        </td>
    </tr>
}

</table>
